* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'system-ui';
  font-size: 1rem;
  line-height: 1.5;
}

.columns {
  display: flex;
  width: 100%;
  height: 100vh;
}

.column {
  flex-basis: 20%;
  padding: 0.5rem;
  border-right: 1px solid black;
  overflow-y: auto;
}

.bookmark {
  margin-bottom: 0.5rem;
}

.bookmark.selected {
  font-weight: bold;
}
